<!--<mat-drawer-container style="background-color: aqua; width: 1000px;">
    <mat-drawer >
      <nav class="navbar">
        <div class="nav-left">
            <a [routerLink]="['/home']" >Inicio</a>
            <a [routerLink]="['/company']">Comitente</a>
        </div>
        <div class="nav-right">
            <a (click)="logout()" *ngIf="user">Cerrar sesión</a>
        </div>
    </nav>
    </mat-drawer>
    <div>
      <button (click)="drawer.toggle();">show/hide</button>
      <router-outlet></router-outlet>
    </div>
</mat-drawer-container>
<router-outlet></router-outlet>-->
<nav class="navbar">
  <div class="nav-left">
      <a [routerLink]="['/home']" >Inicio</a>
      <a [routerLink]="['/company']">Comitente</a>
  </div>
  <div class="nav-right">
      <a (click)="logout()" *ngIf="user">Cerrar sesión</a>
  </div>
</nav>
<router-outlet></router-outlet>